@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans: "Inter", "sans-serif";
}

/* Custom Styles if needed */
.hero {
    /* keep legacy support if needed or remove if replaced by utility classes */
}